.chatspace
  .chat-side
    .chat-user
      .chat-user__name
        %h5
      .chat-user__action
        .chat-user__action__group
        
          %i.fa.fa-cog
        .chat-user__action__user
        
          %i.fa.fa-pencil-square-o
    .chat-group
      .chat-group__name
        %p test
      .chat-group__message
        %p test
  .chat-main
    .chat-header
      .chat-header__left
        %h2.group test
        %p.user Members: test
      .chat-header__right
        %a.edit-btn Edit
    .chat-body
      %ul.chat-contents
        %li.chat-content
          .chat-content__header
            .chat-content__name
              %p test
            .chat-content__time
              %p test
          .chat-content__message
            %p test
    .chat-footer
      .chat-footer__messagebody
        .chat-footer__messagebody__text
          %textarea{ placeholder: 'type a message' }
        .chat-footer__messagebody__image
          %i.fa.fa-picture-o
      .chat-footer__send
        %a.send-btn Send
