.chatspace {
  min-width: 980px;
  height: 100%;
}
.chat-main {
  position: relative;
  height: 100vh;
  width: calc(100% - 300px);
  display: inline-block;
  background-color: white;
}
.main-header {
  height: 100px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: white;
  border-bottom: 1px solid gray;
  &__left-box {
    padding-top: 30px;
    padding-bottom: 10px;
    display: inline-block;
    .group {
      font-size: 20px;
      color: black;
      letter-spacing: 2px;
      padding-bottom: 10px;
    }
    .user {
      font-size: 12px;
      line-height: 20px;
      color: gray;
    }
  }
  &__right {
    float: right;
    .edit-btn {
      display: inline-block;
      margin: 28px 0;
      padding: 0 20px;
      line-height: 40px;
      color: $light_blue;
      font-size: 14px;
      border: 2px solid;
      text-align: center;
      .edit{
        color: $light_blue;
        text-decoration: none;
      }
    }
  }
}
.messages {
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 46px 40px 0;
  height: calc(100% - 100px - 90px);
  overflow: scroll;
  .message {
    .upper-message {
      display: flex;
      &__user-name {
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color: #999;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color: #434a54;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 40px;
      }
    }
  }
}

.form {
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
  }
  &__mask {
    background-color: $white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color: $light_blue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}